<nav>
	<ul>
		<li><a href="https://www.linkedin.com/in/mkayyy" title="LinkedIn"><i class='fab fa-linkedin'></i></a></li>
		<li><a href="https://github.com/matthewkayy" title="GitHub"><i class='fab fa-github'></i></a></li>
		<li><a href="mailto:matthewkayy@gmail.com" title="Email"><i class="fa-solid fa-envelope"></i></a></li>
	</ul>
</nav>

<style>
	nav {
		margin-top: 1rem;
	}

	ul {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2rem;
		height: 2rem;
		font-size: 1.1rem;
		color: #666;
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 0.375rem;
		transition: color 0.15s ease, border-color 0.15s ease;
	}

	li a:hover {
		color: #fff;
		border-color: rgba(255, 255, 255, 0.3);
	}
</style>
