---
import "../styles/reset.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    	<title>mtthw.ky</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/6149cb6cee.js" crossorigin="anonymous" defer></script>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	*, *::before, *::after {
		box-sizing: border-box;
	}

	body {
		font-family: "Space Mono", monospace;
		background-color: #0d0d0d;
		color: #d4d4d4;
		min-height: 100vh;
		width: 100%;
		overflow-x: hidden;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
</style>